<div class="title-bar" data-responsive-toggle="clovernav" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="clovernav"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="clovernav">
    <div class="top-bar-left">
        <ul  class="menu dropdown vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown" role="tablist" aria-multiselectable="true" >
            <li class="menu-text" role="menuitem">Clover Dashboards</li>
            <li role="menuitem"><a href="visibility">Visibility</a></li>
            <li role="menuitem"><a href="">Validation</a></li>
            <li role="menuitem"><a href="">Provisioning</a></li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="menu">
             <li><a href="" class="button">Login</a></li>
        </ul>
    </div>
</div>
