<div class="large-4 medium-3 cell clover-portlet small-offset-2">
    <h5>Per Service Counts</h5>
    <div class="span_node_id_all">
    </div>
</div>
<div class="large-4 medium-3 cell clover-portlet">
    <h5>Per URL Counts (all services)</h5>
    <div class="span_urls_all">
    </div>
</div>

<div class="large-4 medium-3 cell clover-portlet small-offset-2">
    <h5>Per URL / HTTP Status Codes (all services)</h5>
    <div class="status_codes_all">
    </div>
</div>
<div class="large-4 medium-3 cell clover-portlet">
    <h5>User-Agent Percentage</h5>
    <div class="span_user_agents_all" id="span_user_agents_all">
    </div>
</div>
