<div class="large-2 column">&nbsp;</div>
<div class="large-8 medium-3 cell clover-portlet">
    <div class="clover-title"><h4>Tracing Metrics</h4></div>
</div>
<div class="large-2 column">&nbsp;</div>

<div class="large-2 column">&nbsp;</div>

<div class="large-4 medium-3 cell clover-portlet">
    <h5>Visibility System Counts</h5>
    <div class="system_counts">
    </div>
</div>

<div class="large-4 medium-3 cell clover-portlet">
    <h5>Service Response Times</h5>
    <div class="grid-x small-up-4 vtoplevel tracing_rt">
        <div class="cell">Service</div><div class="cell">Min(ms)</div>
        <div class="cell">Avg(ms)</div><div class="cell">Max(ms)</div>
    </div>
</div>

<div class="large-2 column">&nbsp;</div>
